/* FlexMLS widgets
------------------------------------------------------------ */
.widget_fmcleadgen input {
	margin-bottom: 5px;
}
.flexmls_connect__market_stats_graph,
.flexmls_connect__market_stats_graph canvas {
	width: 100% !important;
}
.widget_fmcphotos .widget-wrap {
	overflow: hidden;
}

/* Responsive design
------------------------------------------------------------ */
@media (min-width: 767px) and (max-width: 979px) {
	.flexmls_connect__sr_result .flexmls_connect__sr_listing_facts_container {
		padding-left: 0;
	}
}
@media only screen and (max-width:768px) {
	.flexmls_connect__market_stats_graph,
	.flexmls_connect__market_stats_graph canvas {
		width: auto !important;
	}
	
}
@media (max-width: 600px) {
	.flexmls_connect__sr_result .flexmls_connect__sr_listing_facts_container {
		padding-left: 0;
	}
}