/* Optima Express pages
------------------------------------------------------------ */
#ihfSearchResultsNav_620,
#map_canvas,
#ihfSearchResults_620,
#ihfSearchResultsNavBot_620,
#ihf_maincontainer_620,
#ihf_detail_container_620,
#ihf_fade_container,
#ihf_detail_container_620_inner,
#ihf_searchform_container_620,
#ihf_orglogin_container,
#ihf_map_widget iframe,
#ihf_emailalerts_container,
#ihf_mlsnum_street_search_620 {
	width: 100% !important;
}
#ihf {
	font-family: "Lato", arial, sans-serif;
}
#ihf_fade_container {
	background: none !important;
}
#ihf_orglogin_container input[type="submit"] {
	color: #fff;
}
#ihf_orglogin_container input {
	width: auto;
}

/* Optima Express widgets
------------------------------------------------------------ */
#ihf_widget_quick_search,
#ihf_widget_search_city_selector,
#propertyTypeSelection {
	width: 100% !important;
}
.ihf_widget_search_minprice,
.ihf_widget_search_maxprice,
.ihf_widget_search_bed,
.ihf_widget_search_bath,
.ihf_widget_search_sqft,
.ihf_widget_search_lotacres {
	width: 45%;
	float: left;
}
.ihf_widget_search_minprice input,
.ihf_widget_search_maxprice input,
.ihf_widget_search_bed select,
.ihf_widget_search_bath select,
.ihf_widget_search_sqft input,
.ihf_widget_search_lotacres input {
	width: 85% !important;
}

.widget_ihomefinderpropertiesgallery {}

/* Responsive design
------------------------------------------------------------ */
@media only screen and (min-width:768px) and (max-width:979px) {
	#ihf_detail_photo_container,
	#ihf_detail_basicinfo_container_620,
	#ihf_modulebox_600 .ihf-content,
	#ihf_detail_pagingcapture_620,
	#ihf_modulebox_600,
	#ihf table,
	#ihf tr,
	#ihf tr td {
		clear: left;
		float: none !important;
		width: 100% !important;
	}
	#detail_content {
		padding: 0 !important;
	}
}
@media only screen and (max-width:620px) {
	#ihf_detail_photo_container,
	#ihf_detail_basicinfo_container_620,
	#ihf_modulebox_600 .ihf-content,
	#ihf_detail_pagingcapture_620,
	#ihf_modulebox_600,
	#ihf table,
	#ihf tr,
	#ihf tr td,
	#ihf_search620_formleft,
	#ihf_search620_formright {
		clear: left;
		float: none !important;
		width: 100% !important;
	}
	#detail_content {
		padding: 0 !important;
	}
}